/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* Common Start */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    color: #000000;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin-top: 30px;
    width: 870px;
    background-color: #ffffff;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* Common End */
/* Top player Start */
.top-player{
    margin-bottom: 30px;
}
.section-title{
    margin-top: 3px;
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* Top player End */
/* Top Blog Start */
.top-blog{
    margin-top: 20px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 46px;
}
.blog{
    display: flex;
   
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.blog-title{
    margin: 0 0 6px;
    font-size: 20px;
}
.blog-author{
    margin: 0;
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}
/* Top Blog End */
/* Latest Course Start */
.margin-bottom{
    margin-bottom: 21px;
}
.latest-course{}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    padding: 13px 18px 25px 11px;
    Width: 252.42px;
}
.course-banner img{
    width: 100%;
}
.course-details{
    margin-top: ;
}
.course-title{
    word-spacing: 5px;
    margin: 15px 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20.03px; 
    color: #1E1E1E;
}
.course-author{
    margin: 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rattings{
    font-size: 14px;
}
.fa-star{
    font-size: 12px;
}
.filled{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.course-duration{
    padding: 0px 10px;
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
}
.duration-text{
    margin-left: 5px;
}
/* Latest Course End */

/* -------------- Media Queries ------------- */
/* Mobile Device */
@media only screen and (max-width:767px){
    .container{
        width: 100%;
        padding: 10px 0;
    }
    .section-title {
        margin-left: 15px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .blogs{
        grid-row-gap: 40px;
    }
    .blog-title{
        margin: 0;
    }
    .player, .blog{
        flex-direction: column;
    }
    .blog{
        width: 70%;
    }
    .blog .thumbnail img{
        width: 100%;
    }
    .blog-details{
        margin-left: 0;
    }
    .player-name{
        margin: 5px 0;
    }
}
/* Tablet Devices */
@media only screen and (min-width:768px) and (max-width:991px){
    .container{
        width: 90%;
        padding: 20px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .courses{
        grid-template-columns: repeat(2, 1fr);
    }
}